@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
*{
    margin: 0;
    padding:0;
}
body{
    background-color: red;
}
nav ul{
    display: flex;
    align-items:center;
    list-style-type: none;
    height: 8vh;
    background-color:black;
    color: white;
    font-weight: bolder;
    font-size: 1.3rem;
   
}
nav {
   font-family: 'Ubuntu',sans-sarif;
}
nav ul li{
    padding: 0 13px;
}
.brand img{
    width: 90px;
    padding: 0 8px;
}
.brand{
    display:flex;
    align-items:center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 70vh;
    background-color:black;
    color:#cc313d;
    font-family:'Varela', sans-serif;
    display: flex;
    margin: 15px auto;
    width: 75%;
    border-radius: 40px;
    padding: 15px;
    background-image: url('bg (2).jpg');
    /* background-position: center; */
    /* object-fit: contain; */
    background-size: cover;
  
}
.bottom{
    position:sticky;
    height: 13vh;
    background-color:#eb6b40;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;

}
#myProgressBar{
    width: 50vw;
    cursor: pointer;
}
.icons{
    padding-top: 10px;
}
.icons i{
    cursor: pointer;
    padding:0 12px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    margin:12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
width: 43px;
margin: 0 12px;
border-radius: 34px;
}
.songItemcontainer{
    margin: 50px 0;
}

.timeSpan{
    margin: 0 23px;
}
.timeSpan i{
    cursor: pointer;
    margin:0 3px;
}
.gif{
    position:absolute;
    left:15vw;
    margin-top:3px;
    opacity: 0;
    transition: opacity ease-in;

}
.songInfo{
    position: absolute;
    left:25vw;
    font-weight:bolder;
    font-family:'Varela', sans-serif;
}