@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
*{
    margin: 0;
    padding:0;}
/* }#5cdb95 */
body{
    background-color:black;
    
}
nav ul{
    display: flex;
    align-items:center;
    list-style-type: none;
    justify-content: center;
    height: 8vh;
    background-color:#01f703;
    color: #1f2833;
    font-weight: bolder;
    font-size: 1.3rem;
    

}
nav {
   font-family: 'Ubuntu',sans-sarif;
}
nav ul li{
    padding: 0 13px;
}
.brand img{
    width: 145px;
    padding: 0 8px;
    border-radius: 20px;
    

    
}
.brand{
    display:flex;
    align-items:center;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.3rem;
    height: 90vh;
}
.container{
    min-height: 70vh;
    background-color:black;
    color:#eb6b40;
    font-family:'Varela', sans-serif;
    display: flex;
    margin: 15px auto;
    width: 75vw;
    border-radius: 40px;
    padding: 15px;
    background-image: url('bg.jpg');
    /* background-position: center; */
    /* object-fit: contain; */
    background-size:cover;
  
}
.bottom-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.bottom{
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 85vw;
    border-radius: 15px;
    
    background-color:#eb6b40;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color:#1f2833;
    flex-direction: column;


}
#myProgressBar{
    width: 50vw;
    cursor: pointer;
    color: #1f2833;
}
.icons{
    padding-top: 10px;
}
.icons i{
    cursor: pointer;
    padding:0 12px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    margin:12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
width: 43px;
margin: 0 12px;
border-radius: 34px;
}
.songItemcontainer{
    margin: 40px 0;
}

.timeSpan{
    margin: 0 23px;
}
.timeSpan i{
    cursor: pointer;
    margin:0 3px;
}
.gif{
    position:absolute;
    left:5vw;
    margin-top:3px;
    opacity: 0;
    transition: opacity ease-in;

}
.songInfo{
    position: absolute;
    left:24vw;
    font-weight:bolder;
    font-family:'Varela', sans-serif;
}

@media only screen and (max-width: 1100px) {
    .gif1{
        display: none;
        
    }
    .gif2{
        margin-top: 6vh;
        margin-right: 90vw;
    }
    .songInfo{
        
        position: absolute;
        left: 15vw;
        margin-bottom: 28px;
    
    }
    .icons i{
        
        padding:0 13px;
        margin-top: 23px;
    }
    #myProgressBar{
        width: 70vw;
        cursor: pointer;
    }
    /* .brand img {
        width: 171px;} */

  }
  .dep{
    margin:0
  }